<%# app/views/devise/shared/_links.html.erb %>
<div class="devise-links text-center mt-3">
  <%- if controller_name != 'sessions' %>
    <%= link_to "Iniciar sesión", new_session_path(resource_name), class: "text-decoration-none small" %>
  <% end %>
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <span class="text-muted mx-2">•</span>
    <%= link_to "¿Olvidaste tu contraseña?", new_password_path(resource_name), class: "text-decoration-none small" %>
  <% end %>
</div>