<%# app/views/deliveries/_client_fields.html.erb %>
<% delivery = f.object %>
<div class="row mb-4">
  <div class="col-12">
    <h5 class="text-secondary mb-3">
      <i class="bi bi-person me-2"></i>Cliente
    </h5>
  </div>
  <div class="col-md-8">
    <div class="mb-3">
      <%= label_tag :client_id, "Cliente", class: "form-label" %>
      <%= select_tag :client_id,
      options_from_collection_for_select(
        clients, :id, :name, delivery.order&.client_id
        ),
        prompt: "Selecciona un cliente",
        class: "form-select",
        data: { action: "change->delivery-form#clientChanged" }
        %>
    </div>
  </div>
  <div class="col-md-4">
    <%= link_to "Agregar nuevo cliente", "#",
        class: "btn btn-outline-primary btn-sm mt-4",
        data: { action: "click->delivery-form#toggleNewClientFields" } %>
  </div>
</div>