<div class="row">
  <% delivery.delivery_items.each do |item| %>
    <%= render "deliveries/show_partials/product_card",
               item: item, 
               delivery: delivery, 
               future_deliveries: future_deliveries %>
    <!-- Modales de reagendado (fuera del <tr>) -->
    <%= render "delivery_items/reschedule_modal", item: item, future_deliveries: future_deliveries %>
  <% end %>
</div>