<!-- app/views/deliveries/_client_info.html.erb -->
<div class="col-md-4">
  <div class="card mb-4">
    <div class="card-header">
      <h5><i class="bi bi-person"></i> Información del Cliente</h5>
    </div>
    <div class="card-body">
      <p><strong>Cliente:</strong> <%= client.name %></p>
      <p><strong>Teléfono:</strong> <%= client.phone %></p>
      <p><strong>Email:</strong> <%= client.email %></p>
      <p><strong>Pedido:</strong> #<%= order.number %></p>
    </div>
  </div>
</div>