<!-- app/views/delivery_plans/new.html.erb -->
<div class="row" data-controller="delivery-plan-sidebar">
  <!-- Panel izquierdo: filtros + tabla -->
  <div class="col-md-7">
    <%= render "filters", q: @q, from: @from, to: @to %>
    <%= render "deliveries_table", deliveries: @deliveries, selected_ids: @selected_delivery_ids %>
  </div>
  <!-- Panel derecho: seleccionadas -->
  <div class="col-md-5">
    <%= render "selected_sidebar", delivery_plan: @delivery_plan %>
  </div>
</div>