<p>Hola <%= @resource.name.presence || @resource.email %>!</p>

<p>Te informamos que tu correo electrónico ha cambiado.</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Tu nuevo correo es: <%= @resource.unconfirmed_email %>. Recibirás un correo de confirmación.</p>
<% else %>
  <p>Tu nuevo correo es: <%= @resource.email %>.</p>
<% end %>