<p>Hola <%= @resource.name.presence || @resource.email %>!</p>

<p>Tu clave de acceso ha sido modificada exitosamente.</p>
<p>Si no realizaste este cambio, por favor contacta al administrador inmediatamente.</p>