<p>Hola <%= @resource.name.presence || @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueada debido a múltiples intentos fallidos de inicio de sesión.</p>
<p>Puedes desbloquearla haciendo clic aquí:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>