<div class="row justify-content-center">
  <div class="col-md-8 col-lg-7">
    <div class="card shadow-sm border-0 mt-4">
      <div class="card-body p-4">
        <div class="mb-4">
          <h4 class="mb-1">
            <%= @user.persisted? ? "Editar usuario" : "Nuevo usuario" %>
          </h4>
          <% if @user.persisted? %>
            <span class="badge bg-light text-dark">
              <%= @user.display_role %>
            </span>
          <% end %>
        </div>
        <%= render "admin/users/quick_actions", user: @user if @user.persisted? %>
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>