<%= turbo_frame_tag "modal" do %>
  <div class="modal-header">
    <h5 class="modal-title"><i class="bi bi-truck me-2"></i><%= vendor.persisted? ? vendor.name : "Nuevo proveedor" %></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
  </div>
  <div class="modal-body">
    <%= render "form", vendor: vendor, modal: true %>
  </div>
<% end %>
