<%# app/views/deliveries/shared_partials/_detail_empty_state.html.erb %>
<div class="h-100 d-flex flex-column align-items-center justify-content-center text-muted p-5 bg-white" style="min-height: 600px;">
  <div class="text-center">
    <i class="bi bi-arrow-left-circle display-4 mb-3 d-block text-light-emphasis"></i>
    <h5>Selecciona una entrega</h5>
    <p class="small text-secondary">Haz clic en una tarjeta de la izquierda para ver y gestionar los detalles de la entrega.</p>
  </div>
</div>