<%# app/views/layouts/_flashes.html.erb %>
<div id="flash_messages">
  <% if notice %>
    <div data-controller="toast"
         data-toast-message-value="<%= notice %>"
         data-toast-type-value="success"
         data-toast-duration-value="4000"
         hidden></div>
  <% end %>
  <% if alert %>
    <div data-controller="toast"
         data-toast-message-value="<%= alert %>"
         data-toast-type-value="error"
         data-toast-duration-value="6000"
         hidden></div>
  <% end %>
</div>